@media only screen and (min-width: 480px){
    .header-container-mobile .logo {
        margin-right: 330px;
    }

    .header-container-mobile img {
        padding-top: 30px;
    }

    .web3-mobile {
        padding-top: 40px;
        width: 440px;
    }

    .main-article h1 {
        margin-left: 30px;
        font-size: 45px;
    }

    .main-article p {
        margin-left: 30px;
        padding-right: 40px;
    }

    .main-article .button {
        padding-right: 250px;
    }

    .new-article {
        margin-left: 75px;
    }

    .number-article {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .numbered-article {
        gap: 0px;
    }
    .numbered-image {
        margin-left: 30px;
    }
}   